body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  min-width: 1366px;
}
html::-webkit-scrollbar{
  width: 1px;
}
html::-webkit-scrollbar-track{
  box-shadow:  inset 0 0 6px grey;
  border-radius: 2rem;
}
html::-webkit-scrollbar-thumb{
  background-color: #EE82EE;
  border-radius: 2rem;
}
html{
  overflow-x: hidden;
}
